{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mening Portfolio Saytim{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

</head>

<body>

<header>
  <nav>
    <ul>
      <li><a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
      <li><a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a></li>
      <li><a href="{% url 'resume' %}" class="{% if request.resolver_match.url_name == 'resume' %}active{% endif %}">Resume</a></li>
      <li><a href="{% url 'portfolio' %}" class="{% if request.resolver_match.url_name == 'portfolio' %}active{% endif %}">Portfolio</a></li>
      <li><a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact</a></li>
    </ul>
  </nav>
</header>
<!-- 
<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'resume' %}">Resume</a></li>
            <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
</header> -->
<div id="particles-js"></div>

    <main id="main">

        {% block content %}

        {% endblock %}

    </main>


<footer>
    <p>&copy; 2025 | Faxriddin Portfolio</p>
</footer>


{% block scripts %}
    <script src="{% static 'js/typed.min.js' %}"></script>
    <script src="{% static 'js/tilt.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
  particlesJS("particles-js", {
    "particles": {
      "number": { "value": 80 },
      "color": { "value": "#ffffff" },
      "shape": { "type": "circle" },
      "opacity": { "value": 0.5 },
      "size": { "value": 3 },
      "line_linked": {
        "enable": true,
        "distance": 150,
        "color": "#ffffff",
        "opacity": 0.4,
        "width": 1
      },
      "move": { "enable": true, "speed": 3 }
    }
  });
</script>
</body>
</html>
<style>
    header nav ul li a.active {
  background-color: #00cfff;
  color: black;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: bold;
}

</style>
